*.dll
[Bb]in
[Dd]ebug*/
package*/
[Rr]elease*/
publish*/
/.vs/DrxTransfer/DesignTimeBuild/.dtbcache.v2
/.vs/DrxTransfer/FileContentIndex/237c6cad-eed3-4ee0-91b2-d00237a5b763.vsidx
/.vs/DrxTransfer/FileContentIndex/38cb1dc0-b8a6-45a5-a997-f1e9276aebdb.vsidx
/.vs/DrxTransfer/FileContentIndex/66154d9a-0305-42b5-91a9-786efde7c246.vsidx
/.vs/DrxTransfer/FileContentIndex/read.lock
/.vs/DrxTransfer/v17/.futdcache.v2
/.vs/DrxTransfer/v17/.suo
/.vs/ProjectEvaluation/drxtransfer.metadata.v7.bin
/.vs/ProjectEvaluation/drxtransfer.projects.v7.bin
/DrxTransfer/DrxTransfer.csproj.user
/DrxTransfer/log/WIN-CS604T5HCDJ.DrxTransfer.2023-07-24.log
/DrxTransfer/Properties/launchSettings.json
