<?xml version="1.0" encoding="utf-8" ?>
<!--{@internalLogFile=INTERNAL_LOG_FILE}-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!--{@value=LOGS_PATH}-->
	<variable name="logs-path" value="${basedir}/../../../log" />

	<variable name="file-layout" value="${longdate}
${assembly-version}
${processid:padding=6}+${threadid:padding=-2}
${level:padding=-5}
${fixed-length:inner=${logger}:maxLength=25:keepRightPart=true:padding=25}
-${ndc:separator=, :addToStart= :addToEnd=${char:code=58}} 
${message} ${onexception:${event-properties:item=description:WhenEmpty=Contact your system administrator}} [${event-properties:item=userName:WhenEmpty=unknown} :${event-properties:item=tenant:WhenEmpty=unknown}]
${onexception:${newline}${exception:format=tostring:flattenexception=false}}"/>

	<variable name="event-log-layout"
  value=' ${logger}: "${message}"
${onexception:${newline} Description${char:code=58} ${event-properties:item=description:WhenEmpty=Contact your system administrator}${newline}}
 User name: "${event-properties:item=userName:WhenEmpty=unknown}" ${newline}
 Tenant: "${event-properties:item=tenant:WhenEmpty=unknown}" ${newline}
 Version: ${assembly-version}
${onexception:${newline}${exception:format=tostring:flattenexception=false}}'/>

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" queueLimit="50000"/>
		<default-target-parameters xsi:type="File" concurrentWrites="true" keepFileOpen="true"/>

		<target name="file" xsi:type="File"
				fileName="${logs-path}/${machinename}.${processname}.${shortdate}.log"
				header="${newline}${longdate} ************** ${processname} started **************${newline}"
				footer="${newline}${longdate} ************** ${processname} closed **************${newline}"
				layout="${file-layout}"/>

		<target name="event-log" xsi:type="EventLog"
			  layout='${event-log-layout}'
			  log="SungeroClient Event Log" />

		<target name="console" xsi:type="ColoredConsole" layout="${message}">
			<!--Сообщения от Ndc подсвечиваем-->
			<highlight-row condition="equals(logger,'CommonLibrary.Logging.Ndc')" foregroundColor="Yellow" backgroundColor="DarkBlue"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Warning" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="event-log" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>